.detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__gallery {
    display: flex;
    flex-direction: row;
    gap: 30px;
    margin-bottom: 80px;

    @media only screen and (max-width: 997px) {
      gap: 11px;
    }

    @media only screen and (max-width: 723px) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 25px;
    }

    @media only screen and (max-width: 406px) {
      padding: 18px;
    }

    @media only screen and (max-width: 345px) {
      grid-template-columns: 1fr;
    }
  }

  &__gallery-img {
    max-width: 255px;
    max-height: 242px;
    border-radius: 4px;

    @media only screen and (max-width: 997px) {
      max-width: 164px;
      max-height: 156px;
    }

    @media only screen and (max-width: 406px) {
      max-width: 151px;
      max-height: 143px;
    }

    @media only screen and (max-width: 345px) {
      max-width: 194px;
      max-height: 186px;
    }
  }

  &__infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 540px;
    max-height: 240px;
    margin-bottom: 72px;

    @media only screen and (max-width: 685px) {
      padding-left: 18px;
      padding-right: 18px;
    }

    span {
      font-size: 16px;
      font-family: $primary-font;
      font-weight: 900;
      letter-spacing: 4px;
      color: $primary-color-1;
      text-transform: uppercase;
      margin-bottom: 16px;
    }
  }
}
