.footer-section {
  background-image: url("/assets/desktop/image-footer.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;
}

.footer {
  z-index: -1;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 116px 165px 104px 165px;
  background-color: hsla(192, 37%, 48%, 0.9);
  overflow: hidden;

  @media only screen and (max-width: 1373px) {
    flex-direction: column;
  }

  @media only screen and (max-width: 845px) {
    padding: 92px 18px 72px 18px;
  }

  @media only screen and (max-width: 685px) {
    padding: 92px 18px 72px 18px;
  }

  .heading-secondary {
    color: $primary-color-light-3;
    margin-right: 125px;
    margin-bottom: 0px;

    @media only screen and (max-width: 1373px) {
      margin-right: 0rem;
      margin-bottom: 32px;
    }
  }

  .paragraph {
    max-width: 350px;
    color: $primary-color-light-3;
    margin-right: 92px;

    @media only screen and (max-width: 1373px) {
      text-align: center;
      max-width: 573px;
      margin-right: 0rem;
      margin-bottom: 40px;
    }

    @media only screen and (max-width: 997px) {
      font-size: 18px;
    }
  }
}
