// Colors
$primary-color-1: #4d96a9;
$primary-color-2: #855fb1;
$primary-color-dark-1: #28283d;
$primary-color-dark-2: #87879d;
$primary-color-light-1: #8fe3f9;
$primary-color-light-2: #d9b8ff;
$primary-color-light-3: #fafafa;

// Fonts
$primary-font: "Red Hat Display", sans-serif;
